@import url('./reset.scss');
@import url('./layout/container.scss');
@import url('./layout/pages.scss');

.g-page {
	padding: 48px 0;
	box-sizing: border-box;
}

.g-title {
	position: relative;
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 32px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: -12px;
		left: 0;
		width: 16%;
		height: 6px;
		border-radius: 6px;
		background-color: #afaeae;
	}
}

.g-header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(142, 165, 99);
	min-height: 64px;
	width: 100%;
	transition: top 0.2s linear;

	.header__logo {
		.logo {
			display: block;
			width: 154px;
		}
	}

	.nav {
		padding: 10px;

		ul {
			display: flex;
			justify-content: space-between;
			
			li {
				margin-left: 15px;
				
				a {
					text-decoration: none;
					text-transform: uppercase;
					font-family: Roboto, sans-serif;
					color: #333;
					transition: color ease-in 0.5;

					&:hover {
						color: #7e6363;
					}
				}
			}

		}

	}

	.header__actions {
		display: flex;
		align-items: center;
		gap: 50px;

		&_item {
			position: relative;

			.favorite-item {
				height: 40px;
				width: auto;
				color:rgb(74, 83, 57);
				
	
			}
	
			.icon-favorite {
				position: absolute;
				top: 0;
				left: 2em;
				font-size: 12px;
				line-height: 2em;
				padding-left: 1em;
				padding-right: 1em;
				background-color: #f00;
				color: #fff;
				border-radius: 1em;

				&_hidden {
					display: none;
				}
			}
	
			.header__favorites-list {
				display: flex;
				align-items: center;
				margin-right: 16px;
				color: #fff;
				font-size: 16px;
				text-decoration: none;
				position: relative;
			}
	
			.header__user {
				display: flex;
				align-items: center;
				color: #fff;
				font-size: 16px;
				text-decoration: none;
			}

		}

		
	}

	.header__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.g-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 181, 114);
    min-height: 64px;
    width: 100%;
    
    .copywriting {
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: rgb(70, 20, 100);
    }
}



