@import url('../../../styles/styles.scss');

.basket__container {
	padding: 48px 0;
	box-sizing: border-box;
    margin: 0 auto;
    width: 80%;

    .basket__title {
		position: relative;
		display: inline;
        font-family: Roboto, sans-serif;
		font-size: 32px;
		font-weight: 500;

		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: -12px;
			left: 0;
			width: 100px;
			height: 6px;
			border-radius: 6px;
			background-color: #94d394;
		}
	}

    .basket__wrapper {
		display: flex;
		flex-direction: column;
		padding: 0 26px;

        .basket__item {
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
            margin: 10px;
            cursor: pointer;
            transition: all 450ms;
                
    
    
            .basket-desc {
                    margin-right: 36px !important;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    font-family: Roboto, sans-serif;
                    position: relative;
    
                &__favorite {
                    width: 30px;
                    height: auto;
                    color:rgb(74, 83, 57);
                    position: absolute;
                    right: 30px;
                    top: 30px;
    
                    &_hidden {
                        display: none;
                    }
    
                }
    
                img {
                    border-radius: 4px;
                    width: 100%;
                    object-fit: contain;
                    transition: transform 0.25s;
                }
    
                .basket-desc-back {
                    width: 100%;
                    height: 100%;
                    padding: 8px;
                    box-sizing: border-box;
                    background-color: rgba(#fff, 0.8);
                    
    
                    .button__wrapper {
                        display: flex;
                        flex-direction: row;
                        margin-top: 32px;
                        gap: 20px;
    
                        .button {
                            width: 40%;
                        }
                    }

                    .button__counter {
                        width: 200px;
                        display: flex;
                        justify-content: center;
                        align-items: baseline;
                        gap: 10px;

                        .btn_counter {
                            padding: 10px 5px;
                        }
                    }
    
                    .basket-desc__title {
                        padding: 0;
                        margin: 0 0 8px;
                        height: 4rem;
                        font-size: 24px;
                        line-height: 1;
                        font-weight: 600;
                        color: #333;
                    }
    
                    .basket-desc__subtitle {
                        padding: 0;
                        margin: 0 0 12px;
                        font-size: 16px;
                    }
    
                    .basket-desc__price {
                        padding: 0;
                        margin: 0 0 12px;
                        font-size: 16px;
                        font-weight: 800;
                    }
                }
    
                &:hover {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }

    }

    .basket__total {
        padding: 40px;
        margin-top: 30px;
        background-color:rgb(74, 83, 57);
        font-family: Roboto, sans-serif;
        font-size: 24px;
    }

    


}