.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 560px;
	width: 100%;
	padding: 40px;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;

	.modal-header {
		margin-bottom: 24px;
		font-size: 36px;
	}


	.modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
	}

    .modal-image {
        width: 276px;
        height: 140px;
        background-color: #D9D9D9;
        border: 0 auto;
        margin-bottom: 85px;
    }

    h4 {
        font-size: 32px;
        font-family: Roboto, sans-serif;
        font-weight: 100;
        margin: 10px;
    }

    p {
        font-size: 16px;
        color: #7F7F7F;
        font-weight: 600;
        text-align: center;
        margin-bottom: 64px;
    }

	.modal-footer {
		margin-top: 24px;
	}

	.button-wrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}
